@inject IJSRuntime js

<div class="w3-bar w3-grey">
    <button class="w3-button w3-bar-item" @onclick="download">&#x2B73; Download Binary</button>
</div>

<div class="w3-row">
    <div class="w3-twothird w3-border">
        <div class="w3-grey w3-container">Bytecode</div>
        @if (program != null) {
            foreach (var instr in program) {
                <span class="w3-button" @onclick=@(() => instruction = instr)>
                    <text>@instr.Encode32().ToString("X8")</text>
                </span>
            }
        }
    </div>
    <div class="w3-third w3-border">
        <div class="w3-grey w3-container">File Inspector</div>
        <div class="w3-padding">
            <div>
                <label>Instruction Count</label>
                <div class="w3-margin-left">
                    @program?.InstructionCount
                </div>
            </div>
            <div>
                <label>File Size</label><br>
                <div class="w3-margin-left">
                    @program?.Size
                </div>
            </div>
        </div>
        <div class="w3-grey w3-container">Instruction Inspector</div>
        <div class="w3-padding">
        @if (instruction != null) {
            var encoded = instruction.Encode32();
            <label>Instruction</label>
            <div class="w3-margin-left">
                <table class="w3-table">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>@instruction.InstructionName()</td>
                        </tr>
                        <tr>
                            <th>Hex</th>
                            <td>@string.Join(' ', encoded.ToString("X8").SplitN(2))</td>
                        </tr>
                        <tr>
                            <th>Binary</th>
                            <td>@string.Join(' ', Convert.ToString(encoded, 2).PadLeft(32, '0').SplitN(8))</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <label>Operands</label>
            <div class="w3-margin-left">
                <table class="w3-table">
                    <thead>
                        <th>#</th>
                        <th>Hex</th>
                        <th>I32</th>
                        <th>U32</th>
                        <th>F32</th>
                    </thead>
                    <tbody>
                    @foreach (var operand in instruction.GetOperands().Select((x,i) => (x,i))) {
                        <tr>
                            <td>@operand.i</td>
                            <td>0x@(operand.x.ToString("X8"))</td>
                            <td>@BitConverter.ToInt32(BitConverter.GetBytes(operand.x))</td>
                            <td>@BitConverter.ToUInt32(BitConverter.GetBytes(operand.x))</td>
                            <td>@BitConverter.ToSingle(BitConverter.GetBytes(operand.x))</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        } else {
            <p>Select an instruction on the left to view information about it.</p>
        }
        </div>
    </div>
</div>


@code {
    private Qkmaxware.Compiling.Targets.Mips.Bytecode.InMemoryBytecodeProgram program;
    private Qkmaxware.Compiling.Targets.Mips.Bytecode.Instructions.IBytecodeInstruction instruction;
    public Qkmaxware.Compiling.Targets.Mips.Bytecode.BytecodeProgram Program => program;
    public void SetProgram(Qkmaxware.Compiling.Targets.Mips.Bytecode.InMemoryBytecodeProgram program) {
        this.program = program;
        StateHasChanged();
    }

    private async Task download() {
        using var stream = new MemoryStream();
        using var writer = new BinaryWriter(stream);

        if (this.program == null)
            return;
        this.program.Dump(writer);
        writer.Flush();
        stream.Position = 0;

        var fileStream = stream;
        var fileName = "assembly-" + (DateTime.Now.ToShortDateString()) + ".mips.bin";

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await js.InvokeVoidAsync("BlazorDownloadFileFromStream", fileName, streamRef);
    }
}